@charset "UTF-8";

html,body
{
	min-height: 100%;
	min-width: 100%;
	margin: auto;

}

header
{
	width: 1280px;
	height: 70px;
	min-height: 70px;
	position: fixed;
	z-index: 1000;
	background-color: white;

}





#page_icon
{
	background-image: url(images/fb-icon.png);
	width: 60px;
	height: 60px;
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;

}

section
{
	width: 100%;
	height: 1500px;
	z-index: -100;
}

.stuff {
    opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
	z-index: 1000;

	

}

.stuff2 {
    opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
	z-index: 500;

	

}


.stuff3 {
    opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
	z-index: 500;

	

}

#hover {
    width: 200px;
    height: 288px;
	z-index: 100;
	background-color: transparent;
	position: fixed;
	top: 250px;
	left: 42%;
	
}


#landscape_hover
{
	 width: 200px;
     height: 288px;
	 z-index: 300;
	position: fixed;
	top: 250px;
	left: 5%;
}

#portrait_hover
{
    width: 200px;
    height: 288px;
	z-index: 200;
	position: fixed;
	top: 250px;
	left: 80%;
}




#hover:hover + .stuff {
    opacity: 1.0;
}

#portrait_hover:hover + .stuff2 {
    opacity: 1.0;
}

#landscape_hover:hover + .stuff3 {
    opacity: 1.0;
	
}

h2
{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}


.button 
{
  	font-size: 1em;
 	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	padding: 5px;
    color: dodgerblue;
	text-decoration: none;
    cursor: pointer;
	float: right;
	margin-top: 15px;
    margin-right: 15px;
}
.button:hover
{
	cursor: pointer;
    
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  height: 50%;	
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: dodgerblue;
}
.popup .content {
  max-height: 70%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

.content
{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 18pt;
	color: dodgerblue;
}

